<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648817689141-rol0ann7d05c5bug8vfi1lpev4k7norm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648817689141-rol0ann7d05c5bug8vfi1lpev4k7norm</string>
	<key>API_KEY</key>
	<string>AIzaSyBS5709eGdukRuED1XoCUxeVYy8kibtujQ</string>
	<key>GCM_SENDER_ID</key>
	<string>648817689141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahmutsenbek.TodoAppIOS</string>
	<key>PROJECT_ID</key>
	<string>todo-iosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-iosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648817689141:ios:2b754224cc3df22f2ae77c</string>
</dict>
</plist>